*
{
    padding: 0;
    margin: 0;
}
.body_section
{
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 220px);
    height:fit-content;
    background-color: #f0f1f6;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 80px 70px auto;
    grid-gap: 10px;
}
.body_section div:first-child
{
    background-color: white;
    margin: 5px 5px 0px 5px ;
}
.body_section div
{
    background-color: white;
    margin: 0px 5px 0px 5px ;
    border-radius: 5px;
}
.s_header
{
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s_header h1{
    color: #242e42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    letter-spacing: .1rem;
    margin-left: 20px;
}
.s_body 
{
    background-color: transparent !important;
    margin: 0px 5px 0px 5px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 60% 70px;
    grid-gap: 20px;
    height: fit-content;
}
.s_table
{
    overflow-y: scroll;
    height: 400px;
}

.s_table
{
    overflow-y:scroll ;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
}
.s_table table
{
    margin-top: 10px;
    width: 99%;
    height: fit-content;
    background-color: #c2c5cf;
}
.table_header
{
    background-color: #3d5585;
    border:2px solid #c2c5cf;
}
.table_header th
{
    color: white !important;
    font-weight: 400; 
}
.table_header th::first-letter
{
    text-transform: uppercase;
}
.s_table table th, td {
    text-align: center;
    padding: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #242e42;
    font-weight: 400;
  }
.s_table table tr:nth-child(even) {background-color: #f2f2f2;}
#des
{
    width: 300px;
}
.s_table table tr td:first-child
{
    text-align: left !important;
}

/*operations on table*/

.operation
{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px !important;
}
.operation span    
{
    color: #3d5585;
    font-size: 30px;
    font-weight: 200;
    margin: 0px 10px 0px 10px;
}
.operation span:hover
{
    background-color: #f0f1f6;
    color: #3d5585;
    cursor: pointer;
}
@media screen and ( max-width:800px  )
{
    .body_section
    {
        right: 0;
        width: calc(100% - 80px ) !important;
    }
}